/*
* variables
*/

$about-background: rgb(56,142,60);
$about-nav-item-active: rgb(56,186,60);
$about-nav-item-background-hover: rgba(56,142,60,0.85);

/*
* about
*/
.ov-about {
  .ov-background {
    background-color: $about-background;
  }

  .ov-nav-item.uk-active {
    border-bottom: 3px solid $about-nav-item-active;
  }

  .about-list-item, .skills-section h3 {
    font-size: 20px;
    line-height: 1.4;
  }

  .ov-about-section {
    margin: auto auto;
    max-width: 960px;
    padding: 25px 5% !important;
    h3 {
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
    }

    li {
      padding-bottom: 10px;
    }
  }
}
