<header>
  <nav class="uk-navbar ov-navbar">
    <ul class="uk-navbar-nav ov-nav-list">
      <li class="ov-nav-item home" data-navlink="home">
        <a href="/"><i class="uk-icon-home"></i><br> Home</a>
      </li>
      <li class="ov-nav-item projects" data-navlink="projects">
        <a href="/projects.html" ><i class="uk-icon-desktop"></i><br>Projects</a>
      </li>
      <li class="ov-nav-item about" data-navlink="about">
        <a href="/about.html"><i class="uk-icon-user"></i><br>About
        </a>
      </li>
      <li class="ov-nav-item contact" data-navlink="contact">
        <a href="/contact.html"><i class="uk-icon-comment"></i><br>Contact</a>
      </li>
    </ul>
  </nav>
</header>
