<div id="ov-about-main" class="ov-main">
  <div class="ov-headline">
    <h1>
      <span>
        About<br/>
        Me
      </span>
    </h1>
  </div>

  <section class="ov-about-section">
    <p>
      Hi I'm Otis a self taught, design thinking full-stack JavaScript developer
      with a passion for motion design. I'm currently living in Opole, Poland,
      but originally from London. I'm an absolute geek and love geeking out on
      all things Linux and JavaScript.
    </p>
    <p>
      First fell in love with web design 20 years ago simply because it made my
      Photoshop artwork come alive. Since then I have been hooked. Although my
      focus for now is heavily in both frontend and backend web development.
      My favorite development stack at the moment is React, UIkit, Node,
      MongoDB, Redis and Arch linux are.
    </p>
    <p>
      Values I hold high are loyalty, reliability, authenticity and helping
      other achieve their success. Which is why I see projects through to the
      end and why I believe in not only creating beautiful software but also
      reliable and reflect the client's brand and that is easy to use so that
      it does not distract the a user experience
    </p>
    <p>
      Whether it’s creating servers in Node, connecting to MongoDB databases or
      designing unique user experiences per device whilst still maintaining a
      consistent brand experience I will bring your ideas to life.
    </p>
  </section>

  <section class="ov-about-section">
    <h2>Skills</h2>

    <h3>Libraries and Frameworks</h3>
    <p>
      React, Flux, Redux, Jquery, Velocity, Node, Express, Ramda, Underscore/Lodash,
      Velocity, MongoDB, Mocha, Tape, Bootstrap, UiKit, Browserify,
      Webpack.
    </p>

    <h3>Languages</h3>
    <p>
      HTML5, CSS3, Javascript, ES6, Bash, AJAX, Excel VBA.
    </p>

    <h3>Tools and Apps</h3>
    <p>
      Chrome Dev Tools, NPM, SASS/ LESS, Git/Github, Atom, Sublime Text, Photoshop,
      Eslint, Gulp, Google Drive, Trello, Linux (Arch), Windows, Mac.
    </p>


    <h3>Business</h3>
    <p>
      Management information systems design, Financial modelling, Costing models,
      Financial analysis, Budgeting and Forecasting.
    </p>

  </section>



  <section class="ov-about-section">
    <h2>Courses</h2>
    Rails Backend Developer, Advanced JavaScript, MongoDB Certified Developer,
    CIMA Certificate in Business Accounting, NVQ Programming, NVQ Software Design
    Higher National Diploma Fashion Design &amp; Management, TEFL accredited 20 hours
  </section>

  <div class="ov-hireme">
    <a class="ov-button" href="contact.html">
      <i class="uk-icon-envelope "></i> Hire me</span>
    </a>
  </div>
</div>
