<div id="ov-contact-main" class="ov-main">
  <div class="ov-headline">
    <h1>
      <span>Let&apos;s<br/>
      Chat</span>
    </h1>
  </div>



  <div class="ov-info">
    Have a project you would like me to work on?<br>
    Give me a call or send me a message. <br><br>
    <i class="uk-icon-phone"></i>Tel: +48 513 684 829<br>
    <i class="uk-icon-envelope"></i> Email: otissv@gmail.com.
  </div>




  <div class="ov-contact-form">
    <form class="uk-form ov-form" action="https://formspree.io/otissv@gmail.com" method="post">
      <div class="uk-form-row">
        <input type="text" name="name" placeholder="Your name" class="uk-form-width-medium">
      </div>
      <div class="uk-form-row">
        <input type="email" name="email" placeholder="your@email.com" class="uk-form-width-medium">
      </div>
      <div class="uk-form-row">
        <textarea name="message" rows="8" cols="40" placeholder="Enter message here."></textarea>
      </div>
      <div class="uk-form-row">
        <button class="ov-button">Send message</button>
      </div>
    </form>
  </div>


  <section class="ov-social">
    <p>
      You can also use any of the links below to contact me.
    </p>
    <a href="https://uk.pinterest.com/otissv/">
      <i class="uk-icon-pinterest"></i>
    </a>
    <a href="https://github.com/otissv">
      <i class="uk-icon-github"></i>
    </a>
    <a href="https://twitter.com/otissv">
      <i class="uk-icon-twitter"></i>
    </a>
    <a href="https://plus.google.com/u/0/+OtisVirginie">
      <i class="uk-icon-google-plus"></i>
    </a>
  </section>
</div>
