<div id="ov-home-main" class="ov-main">
  <div class="">
    <div class="ov-landing">
      <div id="ov-landing-headline">
        <div data-uk-grid-match data-uk-parallax='{"y": "50, 0", "velocity": "0.1"}'>
          <span>Building<br/>
          Your<br/>
          Dreams</span>
        </div>

      </div>

      <p class="ov-landing-headline-sub" data-uk-grid-match data-uk-parallax='{"y": "50, 0",  "velocity": "0.3"}'>
        Otis Virginie, full stack developer &amp; designer from London. <br>
      </p>
    </div>
  </div>


  <div class="ov-features">
    <h2>Services</h3>

    <img src="images/desk.jpg" alt="Mock up imageof a desk" class="ov-features-img-main"/>
    <div class="uk-grid ov-features-section">

      <div class="uk-width-medium-1-3 uk-margin-bottom">
        <div class="uk-panel uk-panel-box ov-features-panel"
            data-uk-grid-match data-uk-parallax='{"y": "50, 0", "viewport": "0.5", "velocity": "0.1"}'>
          <div class="ov-features-img">
            <img src="images/react.png" alt="" />
          </div>

          <h3>Front-end Development</h3>
          <p>
            Hand crafted websites and applications using the lates technologies to deliver your products
            in the most engaging way.
          </p>
        </div>
      </div>

      <div class="uk-width-medium-1-3 uk-margin-bottom">
        <div class="uk-panel uk-panel-box ov-features-panel"
            data-uk-grid-match data-uk-parallax='{"y": "75, 0", "viewport": "0.5", "velocity": "0.5"}'>
          <div class="ov-features-img">
            <img src="images/nodejs.png" alt="" />
          </div>

          <h3>Backend Development</h3>
          <p>
            Dynamic Web applications, Universal apps or APIs that deliver content fast and securly.
          </p>
        </div>
      </div>

      <div class="uk-width-medium-1-3 uk-margin-bottom">
        <div class="uk-panel uk-panel-box ov-features-panel"
            data-uk-grid-match data-uk-parallax='{"y": "75, 0", "viewport": "0.5", "velocity": "1"}'>
          <div class="ov-features-img">
            <img src="images/mongodb-logo.png" alt="" />
          </div>

          <h3>Database Development</h3>
          <p>
            Powerful agile NoSLQ databases allowing you to scale your apps fast and reliably.
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="ov-landing-section">
    <div class="ov-devices" class="ov-landing" data-uk-parallax='{"bg": "-200"}'>
        <img class="ov-devices-image" src="images/hand.png" alt=""/>
    </div>

    <div class="ov-testimonial-section">
      <img class="ov-quotemarks" src="images/quotemarks.png" alt=""/>
      <blockquote class="ov-quote">
          He made our site come alive<br>
      </blockquote>

      <p class="ov-testimonial" >
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
  </div>


  <div class="ov-hireme">
    <a class="ov-button" href="contact.html">
      <i class="uk-icon-envelope "></i> Hire me</span>
    </a>
  </div>
</div>
