<div id="ov-home-main" class="ov-main">
  <div class="">
    <div class="ov-landing">
      <div id="ov-landing-headline">
        <div data-uk-grid-match data-uk-parallax='{"y": "50, 0", "velocity": "0.1"}'>
          <span>Building<br/>
          Your<br/>
          Dreams</span>
        </div>

      </div>

      <p class="ov-landing-headline-sub" data-uk-grid-match data-uk-parallax='{"y": "50, 0",  "velocity": "0.3"}'>
        Otis Virginie, full stack developer <br>
      </p>
    </div>
  </div>


  <div class="ov-features">
    <h2>Services</h3>

    <img src="images/desk.jpg" alt="Mock up of a desk" class="ov-features-img-main"/>
    <div class="uk-grid ov-features-section">

      <div class="uk-width-medium-1-3 uk-margin-bottom">
        <div class="uk-panel uk-panel-box ov-features-panel"
            data-uk-grid-match data-uk-parallax='{"y": "50, 0", "viewport": "0.5", "velocity": "0.1"}'>
          <div class="ov-features-img">
            <img src="images/react.png" alt="Facebook React logo" />
          </div>

          <h3>Front-end Development</h3>
          <p>
            Hand crafted websites and applications using the lates technologies to deliver your products
            in the most engaging way.
          </p>
        </div>
      </div>

      <div class="uk-width-medium-1-3 uk-margin-bottom">
        <div class="uk-panel uk-panel-box ov-features-panel"
            data-uk-grid-match data-uk-parallax='{"y": "75, 0", "viewport": "0.5", "velocity": "0.5"}'>
          <div class="ov-features-img">
            <img src="images/nodejs.png" alt="Nodejs logo" />
          </div>

          <h3>Backend Development</h3>
          <p>
            Dynamic Web applications, Universal apps or APIs that deliver content fast and securly.
          </p>
        </div>
      </div>

      <div class="uk-width-medium-1-3 uk-margin-bottom">
        <div class="uk-panel uk-panel-box ov-features-panel"
            data-uk-grid-match data-uk-parallax='{"y": "75, 0", "viewport": "0.5", "velocity": "1"}'>
          <div class="ov-features-img">
            <img src="images/mongodb-logo.png" alt="Mongodb logo" />
          </div>

          <h3>Database Development</h3>
          <p>
            Powerful agile NoSLQ databases allowing you to scale your apps fast and reliably.
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="ov-landing-section">
    <div class="ov-devices" class="ov-landing" data-uk-parallax='{"bg": "-200"}'>
        <img class="ov-devices-image" src="images/hand.png" alt="hand holdimg iPhone app"/>
    </div>

    <div class="ov-testimonial-section">
      <img class="ov-testimonial-who" src="images/testimonial.png" alt="reviewer"/>
      <img class="ov-quotemarks" src="images/quotemarks.png" alt="quotemarks"/>
      <blockquote class="ov-quote">
          He made our site come alive<br>
      </blockquote>

      <p class="ov-testimonial" >
        We are very happy with our new website. It's bright, the design is friendly and many customers say it is easy to find information they need. Besides our customers contact us much more often via email since we have a contact form on the website. Especially new customers! It's very useful for them and we are happy because it brings new patients to our clinic.
        I love the animations that make it look vibrant and interesting. It kind of brought our website to life.
        And last but not least, Otis was great to work with, friendly but professional in everything he does, patient when listening to our suggestions, creative hence very helpful. Will definitely work with him again :-)
      </p>
    </div>
  </div>


  <div class="ov-hireme">
    <a class="ov-button" href="contact.html">
      <i class="uk-icon-envelope "></i> Hire me</span>
    </a>
  </div>
</div>
