<div id="ov-projects-main" class="ov-main">
  <div id="ov-headlineText" class="ov-headline">
    <h1>
      My<br/>
      Projects
    </h1>
  </div>

  <div class='ov-portfolio'>
    <div id="portfolio-0" class="uk-article ov-portfolio-item">
      <img class="ov-porfolio-img" src="images/stomart.jpg" alt="">
      <div class="ov-portfolio-body">
        <h3 class="uk-article-title">Stomart</h3>
        <p>

        </p>
      </div>

      <div class="ov-portfolio-links">
        <a class="ov-button" href="http://www.stomart.opole.pl">Live</a>
        <a class="ov-button" href="https://github.com/otissv/stomart">Code</a>
      </div>

      <div class="uk-article-meta ov-portfolio-tags">
        <h4>Languages, Libraries &amp; Frameprojectss</h4>
        <div class="uk-badge">JavaScript</div>
        <div class="uk-badge">HTML5</div>
        <div class="uk-badge">CSS</div>
        <div class="uk-badge">SASS</div>
      </div>
    </div>


    <div id="portfolio-1" class="uk-article ov-portfolio-item">
      <img class="ov-porfolio-img" src="/images/ruc.jpg" alt="">
      <div class="ov-portfolio-body">
        <h3 class="uk-article-title">React UIkit Components</h3>
        <p>

          A collection of react components using UIkit CSS frameprojects.<br>

        </p>
      </div>

      <div class="ov-portfolio-links">
        <a class="ov-button" href="http://otissv.github.io/react-uikit-components/">Live</a>
        <a class="ov-button" href="https://github.com/otissv/react-uikit-components">Code</a>
      </div>

      <div class="uk-article-meta ov-portfolio-tags">
        <h4>Languages, Libraries &amp; Frameprojectss</h4>
        <div class="uk-badge">React</div>
        <div class="uk-badge">Babel</div>
        <div class="uk-badge">Webpack</div>
        <div class="uk-badge">ES6</div>
        <div class="uk-badge">JavaScript</div>
        <div class="uk-badge">HTML5</div>
        <div class="uk-badge">CSS</div>
        <div class="uk-badge">SASS</div>
        <div class="uk-badge">Tapes</div>
        <div class="uk-badge">NPM</div>
      </div>
    </div>


    <div id="portfolio-2" class="uk-article ov-portfolio-item">
      <img class="ov-porfolio-img" src="images/ufunc.jpg" alt="">
      <div class="ov-portfolio-body">
        <h3 class="uk-article-title">Ufunc</h3>
        <p>
          Ufunc is a set of JavaScript functions for functional programming.<br>

        </p>
      </div>

      <div class="ov-portfolio-links">
        <a class="ov-button" href="https://github.com/otissv/ufunc">Code</a>
      </div>

      <div class="uk-article-meta ov-portfolio-tags">
        <h4>Languages, Libraries &amp; Frameprojectss</h4>
        <div class="uk-badge">JavaScript</div>
        <div class="uk-badge">Ramda</div>
        <div class="uk-badge">Babel</div>
        <div class="uk-badge">Browserify</div>
        <div class="uk-badge">ES6</div>
        <div class="uk-badge">Tape</div>
        <div class="uk-badge">NPM</div>
      </div>
    </div>


    <div id="portfolio-3" class="uk-article ov-portfolio-item">
      <img class="ov-porfolio-img" src="images/dj.jpg" alt="">
      <div class="ov-portfolio-body">
        <h3 class="uk-article-title">DJ</h3>
        <p>
          DJ is a collection of mixins built in SCSS and Compass<br>

        </p>
      </div>

      <div class="ov-portfolio-links">
        <a class="ov-button" href="http://otissv.github.io/dj">Demo</a>
        <a class="ov-button" href="https://github.com/otissv/dj">Code</a>
      </div>

      <div class="uk-article-meta ov-portfolio-tags">
        <h4>Languages, Libraries &amp; Frameprojectss</h4>
        <div class="uk-badge">SASS</div>
        <div class="uk-badge">Compass</div>
        <div class="uk-badge">HTML5</div>
        <div class="uk-badge">CSS</div>
      </div>
    </div>



    <div id="portfolio-4" class="uk-article ov-portfolio-item">
      <img class="ov-porfolio-img" src="images/inflection.jpg" alt="">
      <div class="ov-portfolio-body">
        <h3 class="uk-article-title">Inflection plus</h3>
        <p>
          A wrapper around inflection to support collections.<br>

        </p>
      </div>

      <div class="ov-portfolio-links">
        <a class="ov-button" href="https://github.com/otissv/inflection-plus">Code</a>
      </div>

      <div class="uk-article-meta ov-portfolio-tags">
        <h4>Languages, Libraries &amp; Frameprojectss</h4>
        <div class="uk-badge">JavaScript</div>
        <div class="uk-badge">Babel</div>
        <div class="uk-badge">ES6</div>
        <div class="uk-badge">Tape</div>
        <div class="uk-badge">NPM</div>
      </div>
    </div>


    <div id="portfolio-5" class="uk-article ov-portfolio-item">
      <img class="ov-porfolio-img" src="images/dotfiles.jpg" alt="">
      <div class="ov-portfolio-body">
        <h3 class="uk-article-title">Dotfiles</h3>
        <p>
          Files for my custom Arch Linux system. Contains I3wm config,
          application menu and keyboard mappings. <br>

        </p>
      </div>

      <div class="ov-portfolio-links">
        <a class="ov-button" href="https://github.com/otissv/dotfiles">Code</a>
      </div>

      <div class="uk-article-meta ov-portfolio-tags">
        <h4>Languages, Libraries &amp; Frameprojectss</h4>
        <div class="uk-badge">Linux</div>
        <div class="uk-badge">Bash</div>
      </div>
    </div>
  </div>

  <div class="ov-hireme">
    <a class="ov-button" href="contact.html">
      <i class="uk-icon-envelope "></i> Hire me</span>
    </a>
  </div>
</div>
